<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8' />
<link rel="stylesheet" type="text/css" media="screen" href="assets/css.css">
</head>
<body>
<div id="template">
<h1><a href="/">Password Generator</a></h1>
<label>app/website:</label>
<input v-model.trim="app" @keyup="render" type="text" placeholder="used for which website / app" tabindex="2">
<label>account/username:</label>
<input v-model.trim="account" @keyup="render" type="text" placeholder="username on website / app" require="true" autocomplete="false" tabindex="1">
<label>password:</label>
<input :value="password" @mouseover="copy" name="password" type="text" placeholder="will be here" readonly="true">
<h3>{{message}}</h3>
<h5>↓more settings↓</h5>
<label>salt<span>(default salt 'passid.org')</span>:</label>
<input v-model.trim="salt" @keyup="render" type="password" autocomplete="false" tabindex="3">
<label>password length<span>(min 1,max 32)</span>:</label>
<input v-model.trim.number="lengths" @change="render" @keyup="render" type="number" placeholder="min 1, max 32" autocomplete="false" min="1" max="32" tabindex="4">
<label>password output:</label>
<label for="arabic"><input v-model="arabic" @change="render" id="arabic" type="checkbox" checked="checked" tabindex="5">arabic numerals, like 0-9</label>
<label for="lower"><input v-model="lower" @change="render" id="lower" type="checkbox" checked="checked" tabindex="6">lowercase, like a-z</label>
<label for="upper"><input v-model="upper" @change="render" id="upper" type="checkbox" checked="checked" tabindex="7">UPPERCASE, like A-Z</label>
<label for="special"><input v-model="special" @change="render" id="special" type="checkbox" checked="checked" tabindex="8">special, like +/=-@#~,.[]()!%^*$&</label>
</div>
<footer>
Powered by <a href="http://www.yeh.sh/" target="_blank">Yeh</a> / <a href="https://github.com/passid/www.passid.org" target="_blank" title="view in github">Github</a>
</footer>
<script src="assets/vue.csp.min.js"></script>
<script src="assets/sha512.js"></script>
<script src="assets/base64.js"></script>
<script src="assets/passid.js"></script>
<script src="assets/js.js"></script>
</body>
</html>